body {
  background-color: rgb(179, 211, 211);
}

section {
  max-width: 250px;
  margin: auto;
  margin-top: 5em;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 1rem;
}

img {
  display: block;
  max-width: 230px;
  border-radius: 1rem;
  padding: 0.2rem;
}

h1 {
  text-align: center;
  padding: 0 0.1rem;
  margin: 0.3rem 1rem;
  font-size: 20px;
}

p {
  text-align: center;
  font-size: 16px;
}

.qr-code {
  display: flex;
  justify-content: center;
}
